@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  display: flex;
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
  overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se necessário */
  min-height: calc(100vh - 100px); /* Garante que o conteúdo tenha pelo menos 100px de altura menos o tamanho do navbar */



}


body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden; /* Impede a rolagem horizontal do corpo */
}