.activated {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(104, 100, 100, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1000;
}

.modal {
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  z-index: 1000;
  max-width: 800px;
}

.modal h1 {
  margin-bottom: 40px;
  font-size: 26px;
  text-align: center;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Alterado de flex-start para center */
}

.modal form .item {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  margin-right: 10px; /* Adicionado margem à direita */
}

/* Remova a margem à direita do último item em cada linha */
.modal form .item:nth-child(3n) {
  margin-right: 0;
}

.modal form .item label {
  font-size: 15px;
}

.modal form .item input,
.modal form .item textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
}

.modal button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: #3fbabf;
}

.modal button:hover {
  background-color: #2d8f92;
}

.error-message {
  color: red;
  font-size: 12px;
}

.modal form .item .small-inputs {
  display: flex;
  gap: 10px;
}

.modal form .item .small-inputs input {
  width: calc(50% - 5px);
}

.modal form .item input[type="radio"] {
  align-self: flex-start;
}

textarea {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .modal form .item {
    width: calc(50% - 10px);
    margin-right: 10px; /* Adicionado margem à direita */
   
  }

  /* Remova a margem à direita do último item em cada linha */
  .modal form .item:nth-child(2n) {
    margin-right: 0;
  }
}
