.boxStyle {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Aumentando a largura para 80% */
    height: 90%; /* Aumentando a altura para 80% */
    background-color: #e8f9f7; /* Defina a mesma cor de fundo que a .backgroundImage */
    box-shadow: 2px 0 10px #000000cc;
    border-radius: 20px; /* Adicionando cantos arredondados */
}

.backgroundImage {
    background-size: cover;
    background-position: center;
    border-radius: 20px; /* Adicionando cantos arredondados */
    width: 100%;
    height: 100%;
    margin: 0; /* Remova qualquer margem */
    padding: 0; /* Remova qualquer preenchimento */
}

.rightBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    border-bottom-right-radius: 20px; /* Adicionando cantos arredondados */
    border-top-right-radius: 20px; /* Adicionando cantos arredondados */
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #e8f9f7;
    color: #2c9cac;
    margin: 0; /* Remova qualquer margem */
    padding: 0; /* Remova qualquer preenchimento */
}
